0@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300;0,400;0,500;0,700;0,900;1,900&display=swap");

body {
	padding: 0;
	margin: 0;
}

html * {
	font-family: "Roboto", sans-serif;
}

html,
body,
#mapid {
	height: 100%;
	width: 100vw;
}

#map {
	width: 100%;
	height: 100%;
	background: "green";
}

.controls {
	position: absolute;
	top: 10px;
	left: 50px;
	z-index: 400;
	padding: 10px;
}

ul {
	padding-inline-start: 6px;
	line-height: 350%;
}

.dashed {
	border-top: 1px solid rgba(209, 207, 207, 0.2);
}

.related-anatomy {
	list-style-type: none;
}

.even {
	padding-left: 12px;
	/* background-color: rgba(207, 207, 207, 0.281); */
	font-size: 14px;
	/* font-weight: 500;     */
}

.odd {
	padding-left: 12px;
	/* background-color: #f5f5f5; */
	font-size: 14px;
	/* font-weight: 500; */
}

.allcaps {
	text-decoration: none;
	padding-left: 6px;

	/* font-weight: 900; */
	font-size: large;
	color: #d1cfcf;
}

.allcaps:hover {
	text-decoration: none;
}

#marker1html {
	visibility: hidden;
}

.sidebar_h3 {
	font-size: 24px;
	font-weight: 500;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 25px;
	margin-bottom: 0;
	margin-top: 0;
	color: #d1cfcf;
	display: block;
	width: auto;
	overflow: auto;
}

.sidebar_h3_content {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 20px;
	color: #d1cfcf;
	padding-top: 10px;
}

.sidebar_h3_desc {
	padding-left: 10px;
	font-size: 15px;
	font-style: italic;
	font-stretch: extra-condensed;
	font-weight: 300;
	color: #d1cfcf;
}

.sidebar_h3_h4 {
	font-size: 20px;
	/* font-style: italic; */
	/* font-stretch: extra-condensed; */
	font-weight: 400;
	color: rgba(96, 141, 61, 1);
}

.sidebar_h3_h4_green {
	font-size: 20px;
	/* font-style: italic; */
	/* font-stretch: extra-condensed; */
	font-weight: 400;
	color: rgba(96, 141, 61, 1);
}

.sidebar_h3_p {
	font-weight: 300;
	font-size: 15px;
}

.kopce {
	color: #d1cfcf !important;
	background-color: rgba(96, 141, 61, 1) !important;
	border-color: rgba(96, 141, 61, 1) !important;
	border-radius: 76px !important;
	font-size: 15px !important;
	margin-left: 10px !important;
}


.kopce2 {
	color: black !important;
	background-color: #f5f5f5 !important;
	border-color: rgba(96, 141, 61, 1) !important;
	border-radius: 76px !important;
	font-size: 15px !important;
	margin-left: 10px !important;
}

.background_all {
	background-color: rgba(255, 255, 255, 0.95);
}

.back_button {
	/* background-color: #202225; */
	height: 60px;
}

.markers_title {
	color: #d1cfcf !important;
	cursor: pointer;
}

.markers_title:hover {
	text-decoration: none;
}

.header-regions {
	text-decoration: none;
}

.markers_title_li:hover {
	background: rgba(96, 141, 61, 1);
}

.markers_title_hovered {
	background: rgba(96, 141, 61, 1);
}

.sidebar_closeButton {
	position: absolute;
	top: 5px;
	right: 10px;
	width: 31px;
	height: 31px;
	line-height: 30px;
	cursor: pointer;
	z-index: 10000;
}

/*
.sidebar_closeButton {
	position: absolute;
    top: 5px;
    right: 10px;
    width: 31px;
    height: 31px;
    color: #333!important;
    font-size: 25pt;
    text-align: center;
    font-family: cursive;
    font-weight: 500;
    line-height: 30px;
    background: #fff;
    border: 1px solid #000;
    box-shadow: 0 0 1px 0 grey inset, 0 0 1px 0 grey;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    cursor: pointer;
    z-index: 10000;
}
*/
.hambMenu :hover {
	background-color: rgba(47, 49, 54, 1);
}

.a1_hover {
	background: red !important;
	color: black !important;
}

.a2_hover {
	background: yellow !important;
	color: black !important;
}

#btnMore {
	margin-top: 18px;
	margin-left: 10px;
}

.header-regions a {
	color: #d1cfcf !important;
}

.anatomyHeaders:hover {
	text-decoration: none;
}

.changeMapBtn {
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 7px;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #f5f5f5;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: rgb(96, 98, 102);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #202020;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(96, 141, 61, 1);
}


.changeBtn {
	position: absolute;
	top: 95px;
	left: 20px;
	z-index: 50;
	background-color: aqua;
}

.star {
	font-size: 1.5em;
}

.imgbtn {
	border-radius: 50%;
	/* border: rgba(96, 141, 61, 1) solid 5px;	 */
	border: 2px solid rgba(96, 141, 61, 1);
	animation: border-pulsate 1880ms infinite;
	/* position: absolute; */
	/* float: right; */
	width: 56px;
	left: 27%;
	/* top: 1%; */
	z-index: 1000;
}

.imgbtn2 {
	position: fixed;
	right: 69px;
	top: 23px;
	width: 55px;

	border-radius: 50%;
	/* border: rgba(96, 141, 61, 1) solid 5px;	 */
	border: 2px solid rgba(96, 141, 61, 1);
	animation: border-pulsate 1880ms infinite;
	/* float: right; */
	z-index: 1000;


}

.imgbtn2::before {
	content: attr(data-tooltip);
	color: white;

}


@keyframes border-pulsate {
	0% {
		border-color: rgba(96, 141, 61, 1);
	}

	50% {
		border-color: rgba(255, 255, 255, 0.2);
	}

	100% {
		border-color: rgba(96, 141, 61, 1);
	}
}

.btnpos {
	left: 10%;
}

.anatomy-is-poly-link {
	cursor: pointer;
}


.accordion:after {
	content: '\002B';
	color: #d1cfcf;
	font-weight: bold;
	float: right;
	margin-left: 5px;
	margin-right: 15px;
}




/* 
@media all and (max-width: 1920px) { 
	.imgbtn2{
		left: 25%;
		top: 2%;
	}
	}
@media all and (max-width: 1820px) { 
	.imgbtn2{
		left: 28%;
		top: 2%;
	}
	}
@media all and (max-width: 1690px) { 
	.imgbtn2{
		left: 31%;
		top: 2%;
	}
	}
@media all and (max-width: 1590px) { 
	.imgbtn2{
		left: 33%;
		top: 2%;
	}
	}
@media all and (max-width: 1490px) { 
	.imgbtn2{
		left: 35%;
		top: 2%;
	}
	}
@media all and (max-width: 1390px) { 
	.imgbtn2{
		left: 37%;
		top: 2%;
	}
	}
@media all and (max-width: 1280px) {
	.imgbtn2{
		left: 37%;
		top: 2%;
	}
	}
@media all and (max-width: 1160px) { 
	.imgbtn2{
		left: 40%;
		top: 2%;
	}
	}
@media all and (max-width: 980px) { 
	.imgbtn2{
		left: 40%;
		top: 2%;
	}
	 } 
@media all and (max-width: 670px){
	.imgbtn2{
		left:14%;	}
} */



.marker-cluster-medium {
	background-color: rgba(181, 226, 140, 0.6) !important;
	}
	.marker-cluster-medium div {
	background-color: rgba(110, 204, 57, 0.6) !important;
	}

