.leaflet-control-zoomhome a {
    font: bold 18px "Lucida Console",Monaco,monospace;
    color: #D1CFCF;
  background-color:#2F3136;
}

a.leaflet-control-zoomhome-in,
a.leaflet-control-zoomhome-out {
  font-size: 1.5em;
  line-height: 26px;
  color: #D1CFCF;
  background-color:#2F3136;
}